<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>amancay 0.2.0</title>
    <link rel="icon" type="image/png" href="/static/icon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/amancay.css"/>
	<script type="text/javascript" src="/static/MochiKit/MochiKit.js"></script>
	<script type="text/javascript" src="/static/amancay_interface.js"></script>
	{% block extrajs %} {% endblock %}
</head>

<body>
<div id="header">
    <h1 id="main_title"><img src="/static/spiral.png"/>Amancay!</h1>
</div>
<div class="colmask leftmenu">
	<div class="colleft">
		<div class="col1">
			<!-- Column 1 start -->
			<div id="navbar">
			    {% block navbar %}
			    <a href="/">Home</a> • 
			    {% if session.logged %}
			        <a href="/accounts/settings">Settings</a> • 
			        <a href="/accounts/logout">Logout</a> •
			    {% else %}
			        <a href="/accounts/login">Login</a> •
			    {% endif %}
			    <a href="/accounts/settings">Help</a> •
			    {% endblock %}
			    <!-- <br/> -->
			    <span style="font-size: smaller;">
			        <a href="/join">rel tasks</a>
			    </span>
			</div>
			{% if info_to_user %}
				<div class="info_to_user">{{ info_to_user }}</div>
			{% endif %}
			{% block main_content %}{% endblock %}
			<div class="loading" id="loading"></div>
			<!-- Column 1 end -->
		</div>
		<div class="col2">
			<!-- Column 2 start -->
			<h3 class="sidebar_title">Bugs</h3>
			• <a id="search_link" href="/search">Search</a><br/>
			• <a id="selected_bugs_link" href="/selected_bugs">Selected</a><br/>
			• <a id="tagged_bugs_link" href="/tagged_bugs">Tagged</a><br/>
			• <a id="submitted_bugs_link" href="/submitted_bugs">Latest Submitted</a><br/>
			• <a id="received_bugs_link" href="/received_bugs">Latest Received</a><br/>
			• <a id="package_bugs_link" href="/package_bugs">Selected Packages</a><br/>

			{% block sidebar %}
			{% endblock %}
			<div id="toolbox" class="toolbox">
			{% block toolbox %}{% endblock %}
			</div>
			<!-- Column 2 end -->
		</div>
	</div>
</div>

<div id="footer">
    <p>Copyright © 2009 - The <a href="#">Amancay</a> authors.<br/>
</div>

</body>
</html>
