{% comment %} vim: set sw=4 ts=4 sts=4 noet: {% endcomment %}
<div class="bug_actions">
	<form name="show_add_comment" method="POST">
		<input id="add_comment_button" type="button" value="Add Comment" />
		<input id="report_spam_button" type="button" value="Report Spam" />
		<select id="more_actions">
			<option selected>More Actions</option>
			<option value="reassign">Reassign</option>
			<option value="severity">Change Severity</option>
			<option value="close">Close</option>
			<option value="retitle">Retitle</option>
			<option value="owner">Change owner</option>
		</select>
	</form>
</div>
