{% extends "base.html" %}

{% block title %}Amancay BTS interface{% endblock %}

{% block main_content %}

<div class="owned_bugs">
{% if submitted_list %}
<div class="submitted">
<span class="table_title">Latest submitted bugs</span>
<table class="bugs">
    <tr>
        <th>Package</th>
        <th>Title</th>
        <th>Status</th>
    </tr>
    {% for bug in submitted_list %}
    <tr class="{{ bug.severity }}">
        <td>{{ bug.package }}</td>
        <td>{{ bug.subject|slice:":50" }}
        {% if bug.subject|slice:":50"|length_is:50 %}...{% endif %} </td>
        <td>{{ bug.status }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}

{% if received_list %}
<div class="received">
<span class="table_title">Latest received bugs</span>
<table class="bugs">
    <tr>
        <th>Package</th>
        <th>Title</th>
        <th>Status</th>
    </tr>
    {% for bug in received_list %}
    <tr class="{{ bug.severity }}">
        <td>{{ bug.package }}</td>
        <td>{{ bug.subject|slice:":50" }}
        {% if bug.subject|slice:":50"|length_is:50 %}...{% endif %} </td>
        <td>{{ bug.status }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
</div>

<div class="chosen_bugs">

<div class="packages">
Selected packages:
<form name="add_package" id="add_package" action="/index/" method="POST" >
    <input type="text" name="package_name" id="package_name"
    value="" />
    <input type="submit" value="Add" />
</form>
{% if package_list %}
<form name="package_selection" id="package_selection" action="/index/"
method="POST">
<table name="package_list" id="package_list">
    {% for package in package_list %}
        <tr>
            <td class="package_select">
                <input type="checkbox" name="package_select"
                       id="package_select" value="{{ package }}" />
            </td>
            <td class="package_name">{{ package }}</td>
        </tr>
    {% endfor %}
</table>
<input type="submit" value="Remove" />
</form>
{% else %}
    <p>There are no selected packages.</p>
{% endif %}
</div>

<div class="bugs">
Selected bugs:
<form name="add_bug" id="add_bug" action="/index/" method="POST" >
    <input type="text" name="bug_number" id="bug_number" value="" />
    <input type="submit" value="Add" />
</form>
{% if bug_list %}
<form name="bug_selection" id="bug_selection" action="/index/"
method="POST">
<table name="bug_list" id="bug_list">
    {% for bug in bug_list %}
        <tr>
            <td class="bug_select">
                <input type="checkbox" name="bug_select"
                       id="bug_select" value="{{ bug }}" />
            </td>
            <td class="bug_number">{{ bug }}</td>
        </tr>
    {% endfor %}
</table>
<input type="submit" value="Remove" />
</form>
{% else %}
    <p>There are no selected bugs.</p>
{% endif %}
</div>

</div>

{% endblock %}
{% block footer %}
<p align="right">
{% if current_user.is_authenticated %}
Currently logged in as {{ current_user }} - <a href="/accounts/logout">Log out</a>.
{% else %}
You are browsing as an Anonymous User -  <a href="/accounts/login">Log in</a>
{% endif %}
</p>

{% endblock %}


