{% extends "base.html" %}
{% load template_filters %}

{% block title %}Amancay BTS interface - Package View{% endblock %}

{% block main_content %}

{% if bug_list %}
<div class="package_bugs">
<span class="table_title">Package {{ package }} bugs</span>
<table class="bugs">
	<tr>
		<th colspan=2>Summary</th>
		<th>Severity</th>
		<th>Status</th>
		<th>Modified</th>
	</tr>
	{% for bug in bug_list %}
	<tr>
		<td class="bug_number">{{ bug.id }}</td>
		<td class="subject"><a href="/bug/{{ bug.id }}">{{ bug.subject|escape }}
		<span class="hidden">
		<br/>
		<b>Submitted by</b>: {{ bug.originator }}<br/>
		{% if bug.keywords %}
		<b>Tags</b>: {{ bug.keywords }}<br/>
		{% endif%}
		</span></a>
		
		</td>
        <td class="{{ bug.severity }}">
            <span class="{{ bug.severity }}">{{ bug.severity }}</span>
        </td>
		<td class="{{ bug.severity }}">
			<span class="{{ bug.pending }}">{{ bug.pending }}</span>
		</td>
		<td class="date">{{ bug.log_modified|tstodate }}</td>
	</tr>
	{% endfor %}
</table>
</div>
{% endif %}

{% endblock %}

{% block footer %}
<p align="right">
{% if current_user.is_authenticated %}
Currently logged in as {{ current_user }} - <a href="/accounts/logout">Log out</a>.
{% else %}
You are browsing as an Anonymous User -  <a href="/accounts/login">Log in</a>
{% endif %}
</p>

{% endblock %}


