{% comment %} vim: set sw=4 ts=4 sts=4 noet: {% endcomment %}
<div class="search_form" id="search_form">
	<form method="GET" action="/search/" class="search_form">
		<fieldset class="search_form">
		<legend class="search_title">Search Bugs</legend>
		<label for="package_search">Enter a package name:</label>
		<input class="search_field" type="text" name="query" value="{% if query %}{{ query }}{% endif %}" />
		<input class="submit_search" type="submit" value="Search" />
		</fieldset>
	</form>
</div>
