{% extends "base.html" %}

{% block toolbox %}
{% endblock %}
{% block main_content %}
<div id="main_content">
    {% block search_form %}
    {% include "search_form.html" %}
    {% endblock %}
    <div id="search_results">
        {% if bug_list %}
            {% block bug_list %}
            {% include "table_widget.html" %}
            {% endblock %}
        {% endif %}
    </div>
</div>

<div class="search_form" id="bugnumber_form">
    <form method="GET" action="/bug" class="search_form">
        <fieldset class="search_form">
        <legend class="search_title">Search Bugs</legend>
        <label for="package_search">Enter a bug number:</label>
        <input class="search_field" type="text" name="id" value="" />
        <input class="submit_search" type="submit" value="Search" />

        </fieldset>
    </form>
</div>

{% endblock %}

