<div class="search_form" id="search_form">
<form method="GET" action="./" class="search_form">
<fieldset class="search_form">
<legend class="search_title">Search Bugs</legend>
<ol class="search_form">
<li><label for="package_search">Enter a package name:</label></li>
<li><input class="search_field" type="text" id="package_search" 
name="package_search" value="" /></li>
<li><input class="submit_search" type="submit" value="Search" /></li>
</ol>
<!--
<ol class="search_form">
<li><label for="package_search">Package:</label><input type="text"
id="package_search" name="package_search" value="" /></li>
<li><label for="maintainer_search">Maintainer Email:</label><input type="text"
id="maintainer_search" name="maintainer_search" value="" /></li>
<li><label for="submitter_search">Submitter Email:</label><input type="text"
id="submitter_search" name="submitter_search" value="" /></li>
<li><label for="bug_">Bug number:</label><input type="text"
id="package_search" name="package_search" value="" /></li>
</ol>-->
</fieldset>
</form>
</div>
