{% load template_filters %}
<input id="current_view" type="hidden" value="{{ current_view }}" />
{% if bug_list %}
<span class="table_title">{{ table_title }}</span>
<div class="pager">
	{% if pages %}
	<span class="page_numbers">Pages:
		<ul class="page_numbers" id="pager">
			{% for number in pages %}
			{% ifequal number current_page %}
				<li class="current">{{ number }}</li>
			{% else %}
				<li class="normal"><a href="{{ url }}&page={{number}}">{{ number }}</a></li>
			{% endifequal %}
			{% endfor %}
		</ul>
	</span>
	{% endif %}
	{% if total_bugs %}
	<span class="total_bugs">Found {{ total_bugs }} 
	{% ifequal total_bugs 1 %}bug{% else %}bugs{%endifequal%}</span>
	{% endif %}
</div>
<table class="bugs">
	<tr>
		<th>Package</th>
		<th colspan=2>Summary</th>
		<th>Status</th>
		<th>Modified</th>
	</tr>
	{% for bug in bug_list %}
	<tr>
		<td class="package">
			<a href="/package/{{ bug.package }}">{{ bug.package }}</a>
		</td>
		<td class="bug_number">{{ bug.id }}</td>
		<td class="subject">
			<a href="/bug/{{ bug.id }}">{{ bug.subject|escape|slice:":60" }}
			{% if bug.subject|escape|slice:":60"|length_is:60 %}...{% endif %} 
			<span class="hidden">
			<b>Severity</b>: {{ bug.severity }}<br/>
			<b>Submitted by</b>: {{ bug.originator }}<br/>
			{% if bug.keywords %}
			<b>Tags</b>: {{ bug.keywords }}<br/>
			{% endif%}
			</span></a>
		</td>
		<td class="{{ bug.severity }}">
			<span class="{{ bug.pending }}">{{ bug.pending }}</span>
		</td>
		<td class="date">{{ bug.log_modified|tstodate}}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
