{% comment %} vim: set sw=4 ts=4 sts=4 noet: {% endcomment %}
{% load template_filters %}
<input id="current_view" type="hidden" value="{{ current_view }}" />
{% if bug_list %}
<span class="table_title">{{ table_title }}</span>
<div class="pager">
	{% if pages %}
	<span class="page_numbers">Pages:
		<ul class="page_numbers" id="pager">
			{% for number in pages %}
			{% ifequal number current_page %}
				<li class="current">{{ number }}</li>
			{% else %}
				<li class="normal"><a href="{{ url }}&page={{number}}">{{ number }}</a></li>
			{% endifequal %}
			{% endfor %}
		</ul>
	</span>
	{% endif %}
	{% if total_bugs %}
	<span class="total_bugs">Found {{ total_bugs }} 
	{% ifequal total_bugs 1 %}bug{% else %}bugs{%endifequal%}</span>
	{% endif %}
</div>
<table class="bugs">
	<tr>
		<th></th>
		<th>Bug #</th>
		<th>Summary</th>
		<th>Status</th>
		<th>Last modified</th>
	</tr>
	{% for bug in bug_list %}
	{% ifchanged %}
	<tr>
		<td>
			<img src="/static/icons/starred.png" style="vertical-align: middle"/>
		</td>
		<td class="package" colspan="4">
			<a href="/package/{{ bug.package }}">{{ bug.package }}</a>
		</td>
	</tr>
	{% endifchanged %}
	<tr>
		<td></td>
		<td class="bug_number">#{{ bug.id }}</td>
		<td class="subject">
			<a href="/bug/{{ bug.id }}">{{ bug.subject|truncatewords:6 }}
			<span class="hidden">
			<b>Severity</b>: {{ bug.severity }}<br/>
			<b>Submitted by</b>: {{ bug.originator }}<br/>
			{% if bug.keywords %}
			<b>Tags</b>: {{ bug.keywords }}<br/>
			{% endif%}
			</span></a>
		</td>
		<td class="status {{ bug.severity }}">
			<span class="{{ bug.pending }}">{{ bug.pending }}</span>
		</td>
		<td class="date">{{ bug.log_modified|tstodatetime|timesince}} ago</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
