{% extends "base.html" %}
{% comment %} vim: set sw=4 ts=4 sts=4 noet: {% endcomment %}

{% block title %}Sign up{% endblock %}

{% block info_to_user %}
<div id="notification" class="info">
	<a href="javascript:dismiss_notification()">[x]</a>
	{% if form.errors %}
	We found errors in your registration information, please check below for
	details.
	{% else %}
	You can create an account in amancay for free. Having an account will allow
	you to have your preferences and selected bugs, packages, etc persist
	across visits to the site.
	{% endif %}
</div>
{% endblock %}

{% block main_content %}

<div class="account_form">
<form method="post" action="">
<ol class="account_form">
	<li>
		<dt>
			<label for="id_username">Username</label>
		</dt>
		<dd>
			{{ form.username|safe }}
			{% if form.username.errors %}
			<span class="error">
				<img src="/static/icons/error.png"/>
				{{ form.username.errors|join:", " }}</span>
			{% else %}
			<span class="info">
				<img src="/static/icons/information.png"/>
				<span>You can choose any username, we suggest you to pick one
				that is easily connectable to your real name or IRC id.</span>
			</span>
			{% endif %}
		</dd>
	</li>

	<li>
		<dt>
			<label for="id_email">Email address</label>
		<dd>
			{{ form.email|safe }}
			{% if form.email.errors %}
			<span class="error">
				<img src="/static/icons/error.png"/>
				{{ form.email.errors|join:", " }}</span>
			{% else %}
			<span class="info">
				<img src="/static/icons/information.png"/>
				<span>You will be sent a confirmation email to this
				account, make sure you have access to it since you 
				won't be able to login without confirming your account.</span>
			</span>
			{% endif %}</dd>
		</dd>
	</li>

	<li>
		<dt>
			<label for="id_password1">Password</label>
		</dt>
		<dd>
			{{ form.password1|safe }}
			{% if form.password1.errors %}
			<span class="error">
				<img src="/static/icons/error.png"/>
				{{ form.password2.errors|join:", " }}</span>
			{% endif %}
		</dd>
	</li>

	<li>
		<dt>
			<label for="id_password2">Password (type again to catch typos)</label>
		</dt>
		<dd>
			{{ form.password2|safe }}
			{% if form.password2.errors %}
			<span class="error">
				<img src="/static/icons/error.png"/>
				{{ form.password2.errors|join:", " }}</span>
			{% else %}
			<span class="info">
				<img src="/static/icons/information.png"/>
				<span>Pick a password you can remember!</span>
			</span>
			{% endif %}
		</dd>
	</li>
</ol>
<dt class="button_box">
	<input type="submit" value="Register" />
</dt>
</form>
</div>
{% endblock %}
