{% extends "base.html" %}

{% block title %}Sign up{% endblock %}


{% block main_content %}

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<div class="account_form">
<form method="post" action="">
<fieldset class="account_form">
<legend class="account_title">Sign up</legend>
<ol class="account_form">
    <li><dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
    <dd>{{ form.username|safe }}</dd></li>
    <li><dt><label for="id_email">Email address:</label>{% if form.email.errors %} <span class="error">{{ form.email.errors|join:", " }}</span>{% endif %}</dd>
    <dd>{{ form.email|safe }}</dd></li>
    <li><dt><label for="id_password1">Password:</label>{% if form.password1.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</dt>
    <dd>{{ form.password1|safe }}</dd></li>
    <li><dt><label for="id_password2">Password (type again to catch typos):</label>{% if form.password2.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</dt>
    <dd>{{ form.password2|safe }}</dd></li>
</ol>
<dt><input class="submit" type="submit" value="Register" /></dt>
</dl>
</fieldset>
</form>
</div>

<div class="account_comment">Fill out the form to the left (all fields are
required), and your account will be created; you'll be sent an email with
instructions on how to finish your registration.</div>
{% endblock %}
