html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Bitstream Vera Sans", "DejaVu Sans", "Verdana", sans-serif;
    font-size: 0.8em;
    background: #eee;
    width:100%;
    background:#fff;
    min-width:600px;        /* Minimum width of layout - remove line if not required */ /* The min-width property does not work in old versions of Internet Explorer */
    /*background: url('http://localhost:8000/static/bg.png') repeat-x top left white;*/
    border:0;            /* This removes the border around the viewport in old versions of IE */
}
/*******************************************************************************
                       Positioning rules
*******************************************************************************/

#header {
	margin-top: 0;
    background: #BF1238;
    border-bottom: 3px groove #BF1238;
    color:white;
    padding: 0.8em;
    padding-left: 1.0em;
}
#main_title {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
#main_title a {
    text-decoration: none;
    color: white;
}
#main_title img {
    vertical-align: middle;
    margin-right: 0.5em;
    border: 0;
}
#navbar {
    text-align: right;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5em;
}
#footer {
    color: #fff;
    background-color: black;
    clear:both;
    float:left;
    width:100%;
    border-top:1px solid #000;
}
#footer p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
}

/************* column holy grial **************/
/* column container */
.colmask {
    position:relative;    /* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;            /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
    float:left;
    width:100%;            /* width of page */
    position:relative;
}
.col1,
.col2,
.col3 {
    float:left;
    position:relative;
    padding:0 0 1em 0;    /* no left and right padding on columns, we just make them narrower instead
                    only padding top and bottom is included here, make it whatever value you need */
    overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
    background:#fff;        /* right column background colour */
}
.leftmenu .colleft {
    right:80%;            /* right column width */
/*    border: 1px blue solid;*/
    background:#f4f4f4;    /* left column background colour */
}
.leftmenu .col1 {
    width:76%;            /* right column content width */
/*    border: 1px green solid;*/
    left:102%;            /* 100% plus left column left padding */
}
.leftmenu .col2 {
    width:17%;            /* left column content width (column width minus left and right padding) */
/*    border: 1px purple solid;*/
    left:6%;            /* (right column left and right padding) plus (left column left padding) */
}
/************* /column holy grial **************/

/************* amancay style *******************/

table.bugs {
    border: 0;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: small;
    width: 100%;
}
table.bugs td {
	border-bottom: dotted 1px #CCCCCC;
	vertical-align: middle;
	height: 2em;
}
table.bugs a {
	color: #333399;
	text-decoration: none;
}
table.bugs a:hover {
	text-decoration: underline;
}
table.bugs td.package {
	color: #333399;
}
table.bugs td.starred {
    width: 18px;
}
table.bugs td.bug_number {
	text-align:right;
	width: 3.2em;
}
table.bugs td.subject {
	color: #333399;
	text-align:left;
}
table.bugs .extra {
    color: #999;
    font-size: 90%;
    height: auto;
}
table.bugs .status {
    font-weight: bold;
}
table.bugs tr:hover .extra {
    color: white;
}
table.bugs td.date {
	color: #999999;
	text-align: right;
}
table.bugs tr:hover {
	background-color: rgb(135,202,214);
}
/* Severities */
span.critical {
    color: #771a1a;
    font-weight: bold;
}
span.grave {
    color: #771a1a;
    font-weight: bold;
}
span.serious {
    color: #771a1a;
    font-weight: bold;
}
span.important {
    color: #333399;
}
span.normal {
    color: #333399;
}
span.minor {
    color: #006600;
}
span.wishlist {
    color: #006600;
}
/************* /amancay style ******************/

/* bug */
.bug .bug_number {
	float: left;
}
.bug .bug_number a {
	font-size: smaller;
	text-decoration: none;
	border-bottom: 1px dotted blue;
}
.bug .bug_modified {
	font-size: smaller;
	float: right;
}
.bug .bug_title {
	clear: both;
	font-size: x-large;
}
.bug .bug_title .bug_severity {
	font-size: xx-small;
}
.bug .bug_extra_information {
	background-color: #eee;
	color: #444;
	border: 1px dashed #bbb;
	border-left: 0.5em solid #ddd;
	padding: 0.5em;
	padding-left: 0.7em;
}
.bug .bug_log_item {
	margin: 0.4em;
	margin-bottom: 2em;
}
.bug .bug_log_body {
	padding: 1em;
	border: 1px solid #bbb;
	border-top: 0;
}
.bug .bug_log_header {
	background: #eee;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: 1px solid #ddd;
}
.bug .bug_log_item_reporter {
	background: #ffe;
	border: 2px dotted #bbb;
}
.bug .bug_log_item_reporter .bug_log_header {
	background: white;
	border: 0;
}
.bug .bug_log_item_reporter .bug_log_body {
	border: none;
}
.bug .bug_log_subject {
	font-size: larger;
	font-weight: bold;
}
.bug .bug_log_date,
.bug .bug_log_from {
	font-size: smaller;
}
.bug .bug_log_item_reporter .bug_log_from {
    font-size: larger;
    font-weight: bold;
}
div.bug_actions {
	text-align: right;
}
#tags_available {
	text-align: center;
	padding: 0.5em;
	margin: 0.6em;
	border: 1px dashed #bbb;
}
#tags_selected {
	padding: 0.5em;
	margin: 0.7em;
	border: 3px dashed #bf1238;
}
.tag_draggable a {
	text-decoration: none;
	font-size: small;
	color: #d88;
}
.tag_draggable a:hover {
	color: red;
}

/* Action forms */
div.action_form {
	display: none;
	font-size: small;
}

fieldset.action_form {
	margin-top: 0.5em;
	margin-right: 2em;
	padding: 0.5em;
}
 
div.action_form ul {
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	padding: 0;
	list-style: none;
}
div.action_form li {
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}
div.action_form label {
	display: block;
	float: left;
	width: 8em;
	margin-right: 1em;
	text-align: right;
}

div.action_form input {
	width: 80%;
}

div.action_form textarea {
	width: 80%;
}

div.action_form input.submit {
	float: right;
	width: 8em;
}

/* Pager */
div.pager{
	font-size: small;
	margin-bottom: 0.2em;
}

span.total_bugs {

}

span.page_numbers {
	float: right;
}

ul.page_numbers {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}
ul.page_numbers li {
	padding-right: 0.5em;
	display: inline;
	margin: 0;
	white-space: nowrap;
}

/* Registration */
div.account_form {
	width: 20em;
	float: left;
}

.account_title {
	font-size: large;
	font-weight: bold;
	color: rgb(135,202,214);
}

fieldset.account_form {
	margin: 0.5em 0 0 0;  
	padding: 0.5em; 
}

ol.account_form {
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	padding: 0;  
	list-style: none; 
}
ol.account_form li {
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}
div.account_comment {
	width: 15em;
	float: left;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 2em;
}
div.account_form input.submit {
	float: right;	
}

#id_password,
#id_username {
    padding: 2px;
    padding-left:20px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    border: 1px solid #ddd;
}
#id_username {
    background-image: url('/images/stock_person.png');
}
#id_password {
    background-image: url('/images/stock_keyring.png');
}
.button_box {
	text-align: right;
}
.info {
	padding: 1.5em;
	margin: 0.8em;
	background: #cc0a34;
	color: white;
}
.info a {
	color: black;
}
#notification a {
	color: white;
	font-size: smaller;
	border-bottom: 1px dotted white;
	text-decoration: none;
}
.favorite_icon img {
    border: 0;
}
