div.header
{
	font-family: sans-serif;
	font-size: normal;
	float: right;
	position: absolute;
	top: 0.1em;
	left: 12em;
	height: 1em;
	bottom-margin: 0.5em;
	right-margin: 0;
	border-bottom:dotted 1px #ccc;
}

div.appname
{
	position: absolute;
	float: left;
	display: block;
	width: 7em;
	top: 0.3em;
	left: 0.5em;
	background-color: #ffffff;
	text-align: center;
	font-family: sans-serif;
	font-size: x-large;
	font-weight: bold;
	color: #d70751;
}

div.topnav
{
	float: right;
	font-size: small;
	font-color: #000000;
	margin-right: 1em;
}

div.topnav ul {
	/*margin: 2px;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: normal;
}

div.topnav ul li {
	display: inline;
	margin: 0;
	white-space: nowrap;
}

div.topnav a {
	font-size: small;
	text-decoration: none;
	color: #047F54;
}

div.topnav a:hover {
	text-decoration: underline;
}

div.body {
	margin: auto auto auto auto;
	font-family: sans-serif;
}


div.sidebar { 
	-moz-border-radius: 5px;
	top: 3em;
	margin-left: 0.05em;
	right: auto;
	float: left;
	position: absolute;
/*	padding-bottom: 0.5em;*/
	padding-bottom: 0;
	padding-top: 0.2em;
	padding-right: 0.2em;
	padding-left: 0.2em;
	background-color: rgb(135,202,214);
	width: 10em;
}

span.sidebar_title {
	padding-left: 0.4em;
	font-size: normal;
	font-weight: normal;
}

div.sidebar ul {
	background: white;
	margin-top: 0.15em;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0.25em;
	padding-left: 0.4em;
	list-style-type: none;
	font-size: normal;
	font-weight: normal;
}

div.sidebar a {
	font-size: 0.85em;
	line-height: 2em;
	padding-right: 0.5em;
	text-decoration: none;
	color: #000000;
	/* padding: 0.2em 0 0.3em 0em; */
}

div.sidebar a:hover {
	text-decoration: underline;
}

div.toolbox { 
	-moz-border-radius: 5px;
	top: 16em;
	margin-left: 0.05em;
	float: left;
	right: auto;
	position: absolute;
	padding-bottom: 0;
	padding-top: 0.2em;
	padding-right: 0.25em;
	padding-left: 0.2em;
	background: #87d6ba;
	width: 10em;
}

span.toolbox_title {
	padding-left: 0.4em;
	font-size: normal;
	font-weight: normal;
}

div.toolbox_itemlist {
	width: 100%;
	background: white;
	vertical-align: text-bottom;
	margin-bottom: 0.2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

div.toolbox_itemlist table {
/*	float: left;*/
/*	display: block;*/
/*	position: relative;*/
	display: inline-table;
/*	margin-top: 0.15em;
	margin-left: 0;
	margin-bottom: 0.25em;*/
	padding-left: 0em;
	font-size: small;
	font-weight: normal;
	table-layout: fixed;
	width: 100%;
}
td.item_select {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 1.3em;
}
td.item_name {
/*	width: 5em;*/
	white-space: nowrap;
	overflow: hidden;
}
div.toolbox_remove {
/*	display: inline;*/
	width: 100%;
/*	float: right;
	clear: both;*/
/*	height: 100%;*/
/*	position: absolute;*/
/*	position: relative;*/
/*	left: 1em;*/
/*	right: -0.1em;*/
/*	position: fixed;*/
	text-align: right;
}

input.toolbox_remove {
	/* This part hides the original button. */
	background-color: transparent; 
	border: 0px;
	padding: 0px;
	padding-left: 3000px;
	overflow: hidden;
	
	/* This part defines its new look. */
	width: 24px;
	height: 24px;
	max-width: 24px;
	max-height: 24px;
	/*background-position: center center;
	background-repeat: no-repeat;*/
	background-image: url(../images/delete.png);
}

span.toolbox_message {
	background-color: white;
	text-align: center;
	font-size: small;
	width: 97%;
	padding: 0.2em;
	margin-bottom: 0.2em;
	display: block;
}

div.toolbox_add_item {
	margin-bottom: 0.25em;
}

input.toolbox_txt {
	width: 7em;
}

input.toolbox_add {
}


div.main { 
	position: absolute;
/*	float: right;
	clear: both;*/
	width: auto;
	height: auto; 
	top: 2em;
	left: 12em;
}

div.footer
{
margin:10px auto 0px auto;
width:100%;
border-top:dotted 1px #ccc;
clear: both;
font-size: small;
}


div.bugs {
display:block;
margin: 1% 1% 1% 1%;
float:right;
}

table.bugs {
background: #999999; 
border: 1px;
font-family: sans-serif;
font-size: small;
/*width: 100%;*/
}

span.table_title {
font-family: sans-serif;
font-size: large;
font-weight: bold;
color: #9999dd;
}

div.loading {
	position: fixed;
	top: 1.5em;
	right: 0;
}

span.loading {
	font-family: sans-serif;
	font-size: small;
	background-color: #9999dd;
	color: #FFFFFF;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}
span.error {
	font-family: sans-serif;
	font-size: normal;
	color: #CC6666;
}

tr.critical {
background: #ff0000;
font-weight: bold;
}

tr.grave {
background: #cc0000;
font-weight: bold;
}

tr.serious {
background: #cc8888;
font-weight: bold;
}

tr.important {
background: #ffffff;
color: #771a1a;
}

tr.normal {
background: #ffffff;
color: #333399;
}

tr.minor {
background: #dddddd;
color: #333399;
}

tr.wishlist {
background: #dddddd;
color: #006600;
}


